$fg-color: #fff;
$bg-color: #414245;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px; /* Margin bottom by footer height */
  color: $fg-color;
  background-color: $bg-color;
}

a, a:hover {
  color: $fg-color;
}

.resume h3 {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
