html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px; /* Margin bottom by footer height */
  color: #fff;
  background-color: #414245;
}

a {
  color: white;
}

.resume h3 {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
