html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px; /* Margin bottom by footer height */
  color: #fff;
  background-color: #414245;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: white;
}

.resume h3 {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
