{% extends "base.html" %}

{% block content %}
{% if section.content %}
<div class="pb-2">
  {{ section.content | safe }}
</div>
{% endif %}
<ul>
  {% for page in section.pages %}
  <article class="post-list border-top">
    <header> 
      <h1>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h1>
    </header>

    {% if page.summary %}
    <div class="content post-summary">
      {{ page.summary | markdown | safe }}
    </div>
    {% endif %}
  </article>
  {% endfor %}
</ul>
{% endblock content %}
