{% extends "base.html" %}

{% block content %}
{% if section.content %}
<div class="pb-2">
  {{ section.content | safe }}
</div>
{% endif %}
{% for page in section.pages %}
<article class="post-list border-top py-3">
  <header> 
    <h3>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h3>
  </header>

  {% if page.summary %}
  <div class="content post-summary">
    {{ page.summary | markdown | safe }}
    {% endif %}
    {% if page.extra and page.extra.attach_path %}
    <a href={{ page.extra.attach_path }} target="_blank">
      <button type="button" class="btn btn-contrast">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
        </svg>
      {{ page.extra.attach_name }}
      </button>
    </a>
    {% endif %}
  </div>
</article>
{% endfor %}
{% endblock content %}
